
.nav{
	text-align: center-left;
	color: gray;
}
#name{
	padding-top:10px;
}

body,html{
	height: 100%;
	margin:0;
}

.container-fluid{
	padding-top: 70px;
	padding-bottom: 70px;
}
/*
h1{
	position: relative;
	top: 45%;
	transform: translateY(-45%);

}

h2{
	position: relative;
	top: 30%;
	transform: translateY(-30%);
}

.subline{
	font-size: 250%;
	font-family: 'Open Sans', sans-serif;
}

.welcome{
	color: a6a6a6;
	font-size: 900%;
	font-family: 'Pacifico', cursive;
}
*/
#s1{
	background-color: #ffffff;
	background-image: url("images/s1.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}


.bg2{
	background-color: #474e5d;
}

.bg3{
	background-color: #1abc9c;
}
