
.content-title{
	font-size: 75px;
	padding-top:20px;
	font-family: 'Pacifico', cursive;
}

.navbar{
	background-color: transparent !important;
	background:transparent;
	min-height: 20px !important;
	text-align: center-left;
	color: #fff;
	border-bottom-color: transparent !important;

}

.navbar li { color: #000 
} 

#name{
	color:#fff;
		font-family: 'Open Sans Light', sans-serif;
	font-style: normal;
	src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff'));
	border-bottom-color: #fff;
	border-style: solid;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	padding-bottom: 2px;
}

body,html{
	height: 100%;
	margin:0;
}

.container-fluid{
	height:800px;
}

h1{	
}

h1:hover{
	color:#ffa31a;
}


.subline{
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans Light', sans-serif;
	font-style: normal;
	src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff'));
}

.welcome{
	letter-spacing: 10px;
	display:inline-block;
	color: #fff;
	font-size: 35px;
	font-family: 'Open Sans Light', sans-serif;
	font-style: normal;
	src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff'));
	border-top-width: 2px;
	border-left-width: 0px;
	border-bottom-width: 2px;
	border-right-width: 0px;
	border-color: #fff;
	border-style: solid;
	padding: 5px;

}

#s1{
	line-height: 1px;
	background-color: #ffffff;
	background-image: url("s1.jpg");
	height: 900px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.white{
	color: #fff;
}
.bg2{
	background-color: #f9f4ea;
}

.bg2 .title{
	border-style: dotted;
	border-right-width: 2px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-color: #fcc244 ;
	float:left;
}


.bg4{
	background-color: #e5ded3;
}

.bg4 .title{
	height: 800px;
	border-style: dotted;
	border-right-width: 0px;
	border-left-width: 2px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-color: #fcc244 ;
	float:right;
}

.bg6{
	background-color:#f9f4ea ;
}

.bg6 .title{
	border-style: dotted;
	border-right-width: 2px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-color: #fcc244 ;
	float:left;
}

.bg8{
	background-color:  #e5ded3;
}

.bg8 .title{
	border-style: dotted;
	border-right-width: 0px;
	border-left-width: 2px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-color: #fcc244 ;
	float:right;
}

.content{
	width: 100%;
	height: 500px;
}

.bg10{
	height: 260px;
	background-color:#fcc244;
}
.bg10 .title{
	float:left;
}
.experiences{
	height: 800px;
}
.image{

	height: 200px;
}

.form{
	margin-top: 10px;
	padding-top:10px;
	text-align: left;
	width: 250px;
	height: 250px;
	color: #fff;
	text-transform: lowercase;
	display: inline-block;
	padding-left: 10px;
 	margin-left: auto;
 	margin-right: auto;

}

input{
	background-color: transparent;

	width: 200px;
	padding: 5px;
	border: none;
	color: #fff;
	
}

textarea{
	background-color: transparent;
	border:none;
	height: 100px;
	width: 200px;
	padding:5px;
}

.formhead{
		font-family: 'Open Sans Light', sans-serif;
	font-style: normal;
	src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff'));
}

.contactinfo{
	width: 250px;
	display:inline-block;
}

button{
	color: black;
	border: none;
	background-color: #fff;
	text-transform: lowercase;
}

.send{
	color:#fcc244;
		font-family: 'Open Sans Light', sans-serif;
	font-style: normal;
	src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff'));
}


.title{
	min-width: 500px;
	height: 500px;
	width: 30%;
	display: inline-block;
}

.info{
	width: 70%;
	display: inline-block;
}

.circle{
	padding-top: 70px;
	margin-top: 150px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: #fcc244;
	margin-left: 100px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 200px;
	
} 

/* flip speed goes here */
.flipper {
	transition: 0.8s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	background-color: #fff;
	transform: rotateY(180deg);
}
/*---------------RESPONSIVENESS -------------*/
@media only screen and (max-width: 1200px){
	#s1{

		height: 600px;

	}

	.welcome{
		font-size:100px;

	}

	.subline{
		font-size: 30px;

	}

}

@media only screen and (max-width: 900px){
	#s1{
		height: 450px;

	}

	.welcome{
		font-size:50px;

	}

	.subline{
		font-size: 15px;


}

@media only screen and (max-width: 600px){
	#s1{
		height: 500px;

	}

	.welcome{
		font-size:25px;

	}

	.subline{
		padding-top: 200px;
		line-height: 25px;
		font-size: 10px;

}

.content-title{
	padding-top: 0px;
	font-size: 50px;
}

.image{
	height: 100px;
}

.content{
	height: 200px;
}
