@media all and (max-width: 1024px) { 

} 
@media all and (max-width: 839px) { 

} 
@media all and (max-width: 605px) { 
	body, html{
		
		text-align: center;
		width: 100%;
	
	}

	body{
		overflow-x: hidden;
	}


	.section-image{
		display: block;
		width: 100%;
	}
	.section-info{
		padding: 0px;
		display: block;
		width: 100%;
		text-align: center;
	}

	#about{
		height: 800px;
	}

	.section-header h1{
		line-height: 1.0;
	}

	#home{
		height: 750px;
	}

	#experience{
		height: 1650px;
	}

	.exp-info{
		text-align: center;
		
	}

	#skills{
		height: 1350px;
	}

	.skill-table .col{
		width: 100%;
	}

	.skill-table .lang{
		height: 350px;
	}
	.skill-table .classes{
		height: 500px;
	}

	.skill-table .certs{
		height: 300px;
	}

	#projects{
		height: 1500px;

	}

	.proj-info{
		text-align: center;
	}

	#extras{
		height: 750px;
	
	}

	.extra-info{
		height: 300px;
		text-align: center;
	}

	#contact{
		height: 800px;
		
	}

	#contact .sect{
		width: 100%;
	}

	.form{
		height: 400px;
	}

	.social{
		height: 400px;
	}

	.navbar{
		width: 100%;
	}

	.button-wrap{
		margin-left: 0px;
	}

	.button-wrap .source{
		display: block;
	}

	.section{
		display: block;
	}
}